@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-dark-100: #131a0c;
  --color-dark-200: #22291d;
  --color-dark-300: #2d3327;
  --color-dark-400: #424a3b;
  --color-dark-600: #898f84;
  --color-light-100: #ffffff;
  --color-light-200: #c5cbc0;
  --color-primary: #368501;
  --color-destructive: #e74646;
  --color-destructive-200: #ff6b6b;
  --color-secondary: #c5cbc0;
  --color-progress: #5ea91e;
  --color-hydration: #0d81d4;
  --color-sunny: #efb515;

  --font-fraunces: var(--font-fraunces);
  --font-onest: var(--font-onest);

  --shadow-button: 0px 4px 10px 0px #3685013d;
  --shadow-card: 0px 0px 40px 0px #ffffff80;
  --shadow-plant-card: 0px 4px 20px 0px #0000000d;

  --border-hero: linear-gradient(
    135.72deg,
    rgba(255, 255, 255, 0.27) 8.53%,
    rgba(255, 255, 255, 0) 60.59%,
    rgba(255, 255, 255, 0.33) 93.17%
  );
}

@layer base {
  body {
    @apply bg-dark-100 text-light-100 font-onest;
  }
  input,
  textarea,
  select {
    @apply bg-dark-200! border-dark-300! focus-visible:ring-0! focus-visible:ring-offset-0!;
  }
  h1 {
    @apply font-fraunces text-5xl font-semibold;
  }
  h2 {
    @apply font-fraunces text-3xl font-semibold;
  }
  h3 {
    @apply font-fraunces text-xl font-semibold;
  }

  label {
    @apply text-light-200;
  }

  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"] {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }
}

@layer components {
  .auth-layout {
    @apply flex items-center justify-center mx-auto w-full min-h-screen max-sm:px-4 max-sm:py-8;
  }
  .page-container {
    @apply mx-auto flex max-w-7xl flex-col items-center justify-center gap-8 overflow-hidden py-12;
  }
  .plants-section {
    @apply flex flex-wrap w-full items-start justify-center gap-4;
  }
  .button-big {
    @apply cursor-pointer px-8 py-6;
  }
  .button-logout {
    @apply bg-destructive shadow-button hover:bg-destructive/80 flex cursor-pointer items-center gap-2 rounded-md px-4 py-2 transition-all duration-300;
  }
  .button-delete {
    @apply bg-dark-200! text-destructive-200 hover:bg-dark-200/80! cursor-pointer;
  }
  .hero-section {
    @apply bg-dark-200 relative mx-20 flex flex-col items-center justify-center rounded-lg border-[2px] border-white/27 py-12 max-md:mx-4 max-md:w-full max-md:px-2;
  }
  .hero-text-container {
    @apply mx-40 flex max-w-2xl flex-col items-center justify-center gap-4 max-md:mx-4 max-md:w-full text-center;
  }
  .navbar {
    @apply bg-dark-200 flex w-full items-center justify-between max-md:px-8 px-[100px] py-4 mx-auto;
  }
  .navbar-links {
    @apply flex items-center gap-[30px];
  }
  .navbar-logo {
    @apply font-fraunces text-xl font-semibold;
  }
  .plant-card {
    @apply bg-dark-200 shadow-plant-card relative flex flex-col gap-4 rounded-lg;
  }
  .badge-water-today {
    @apply bg-destructive-200! absolute -top-3 right-3;
  }
  .badge-species {
    @apply bg-dark-400! text-light-200!;
  }
  .toast-success {
    @apply bg-primary shadow-plant-card flex flex-col gap-4 overflow-hidden rounded-lg p-4;
  }
  .toast-error {
    @apply bg-destructive shadow-plant-card flex flex-col gap-4 overflow-hidden rounded-lg p-4;
  }
  .add-companion-card {
    @apply bg-dark-300 shadow-plant-card border-dark-400 flex min-h-[220px] min-w-[210px] cursor-pointer items-center justify-center rounded-lg border-2 border-dashed;
  }
  .companion-card {
    @apply bg-dark-300 shadow-plant-card border-dark-400 relative min-h-[220px] min-w-[210px] rounded-lg border-2 pt-2 flex flex-col;
  }
  .form-section {
    @apply flex h-[calc(100vh-4.5rem)] flex-row;
  }
  .plant-details-container {
    @apply mx-auto flex max-w-screen-2xl flex-col gap-8 px-12 py-12;
  }
  .plant-details-header {
    @apply flex flex-row justify-between gap-4 max-lg:flex-col max-lg:items-center;
  }
  .button-edit {
    @apply bg-dark-200! text-light-200 hover:bg-dark-200/80! cursor-pointer;
  }
  .plant-details-section {
    @apply flex flex-row items-start gap-12 max-lg:flex-col max-lg:items-center;
  }
  .plant-details-image {
    @apply bg-dark-200 shadow-plant-card border-dark-300 relative rounded-lg border-2;
  }
  .plant-details-notes {
    @apply flex flex-col gap-4;
  }
  .plant-details-name {
    @apply flex flex-row gap-4 max-lg:w-full max-lg:justify-between;
  }
  .companions-section {
    @apply flex flex-col gap-6 max-lg:w-full max-lg:items-center;
  }
  .companions-list {
    @apply flex flex-wrap gap-6 max-lg:w-full max-lg:justify-center;
  }
  .form-select {
    @apply bg-dark-200! border-dark-300! w-full! focus-visible:ring-0! focus-visible:ring-offset-0!;
  }
  .form-select-content {
    @apply bg-dark-200! border-dark-300!;
  }
  .form-container {
    @apply mx-auto flex max-w-[700px] flex-col gap-12 px-20 py-8 max-md:px-4;
  }
  .auth-card {
    @apply bg-dark-200 shadow-card flex max-w-[500px] flex-col items-center justify-center gap-8 rounded-xl px-8 py-10;
  }
  .auth-card-title {
    @apply flex flex-col items-center justify-center gap-4;
  }
  .auth-card-text {
    @apply text-light-200 font-onest text-center text-lg;
  }
  .auth-card-button {
    @apply bg-primary text-light-100 shadow-button hover:bg-primary/80 flex w-full cursor-pointer items-center justify-center gap-2 rounded-md px-4 py-2 transition-all duration-300;
  }
}

@layer utilities {
  .border-hero {
    @apply bg-gradient-to-r from-white/27 via-white/0 to-white/33;
  }
}
