@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-dark-100: #131a0c;
  --color-dark-200: #22291d;
  --color-dark-300: #2d3327;
  --color-dark-400: #424a3b;
  --color-dark-600: #898f84;
  --color-light-100: #ffffff;
  --color-light-200: #c5cbc0;
  --color-primary: #368501;
  --color-destructive: #e74646;
  --color-destructive-200: #ff6b6b;
  --color-secondary: #c5cbc0;
  --color-progress: #5ea91e;
  --color-hydration: #0d81d4;
  --color-sunny: #efb515;

  --font-fraunces: var(--font-fraunces);
  --font-onest: var(--font-onest);

  --shadow-button: 0px 4px 10px 0px #3685013d;
  --shadow-card: 0px 0px 40px 0px #ffffff80;
  --shadow-plant-card: 0px 4px 20px 0px #0000000d;

  --border-hero: linear-gradient(
    135.72deg,
    rgba(255, 255, 255, 0.27) 8.53%,
    rgba(255, 255, 255, 0) 60.59%,
    rgba(255, 255, 255, 0.33) 93.17%
  );
}

@layer base {
  body {
    @apply bg-dark-100 text-light-100 font-onest;
  }
  input,
  textarea,
  select {
    @apply bg-dark-200! border-dark-300! focus-visible:ring-0! focus-visible:ring-offset-0!;
  }
}

@layer components {
  .auth-layout {
    @apply flex items-center justify-center mx-auto w-full min-h-screen max-sm:px-4 max-sm:py-8;
  }
}

@layer utilities {
  .border-hero {
    @apply bg-gradient-to-r from-white/27 via-white/0 to-white/33;
  }
}
